*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo{
    background: #393E46;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}


#inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: rgb(43, 35, 35);
    color: rgb(252, 44, 44);
    font-size: 40px;
    text-transform: uppercase;
    gap: 20px;
    text-shadow: 3px 2px 1px rgb(6, 206, 196);

}
header{
    background: #393E46;
}

nav{

    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 30px;


}

 #foto-link{
    background: radial-gradient(circle, #910606 20%, rgb(255, 0, 0) 80%);
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
    padding: 30px;
    border-radius: 10px;
    gap: 40px;
    
    
}

#foto-link img{
    background: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 2px 2px 4px rgb(48, 46, 46);

}

#foto-link ul{
    background: radial-gradient(circle, #a51f1f 20%, rgb(255, 4, 4) 80%);
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 3px rgb(36, 34, 34);

}
#foto-link ul li{
    list-style: none;
    text-decoration: none;
    background: rgb(93, 228, 122);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 4px 4px 5px rgb(36, 34, 34);
    transition: transform 0.2s ease 0.2s;
    font-size: 20px;
    
    
}
#foto-link ul li a {
    text-decoration: none;
    text-transform: uppercase;
}
#foto-link ul li a:hover{
    text-decoration: 3px underline green;
}

#foto-link ul li:hover{
    background:  rgb(72, 214, 103);
    transform: translateX(-8px) ;
    animation-duration: 30s;

    /* COMEÇANDO A ESTRUTURAÇÃO DO MAIN */
}
main{
    background: #393E46;
    gap: 20px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex: 3;
}
#bloco{
    background: #393E46;
    padding: 50px;
    padding-top: 26px;
    max-width: 50vh;
    justify-content: center;
    

    

}
#titulo-conteudo-bloco{
    background: #2b0617;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 80px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 2px black;
  
}

#titulo-conteudo-bloco img{
    background: white;
    padding: 10px;
    border-radius: 50%;
}
#paragrafo-conteudo-bloco{
    background:#54205c;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(0, 0, 0);

}

#conteudo-aside-titulo2{
    background: rgb(2, 187, 17);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: white;
}
#conteudo-aside-paragrafo2{
    background: rgb(47, 223, 126);
    padding: 20px;
    border-bottom-left-radius: 10px;

}

#conteudo-aside-paragrafo2 ul{
    padding-left: 10px;
}

#conteudo-aside-titulo1{
    background: rgb(2, 187, 17);
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px black;
    color: white;
    
}
#conteudo-aside-paragrafo1{
    background: rgb(47, 223, 126);
    padding: 20px;
    border-bottom-right-radius: 10px;

}
#conteudo-aside-paragrafo2 ul {
    padding-left: 10px;
}

footer{
    background: rgb(43, 35, 35);
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer .footer-content{
    display: flex;
    gap: 20px;
}
.redesSociais ul li {
    list-style: none;

}



@media(max-width:768px){
    #inicio{
        font-size: 15px;
    }
    #foto-link ul li{
        font-size: 10px;
    }
    #foto-link{
        gap: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 0%;
    }
  
    #conteudo{
        flex-direction: column;
    }
    aside{
        width: 100%;
    }
    aside #conteudo-aside-paragrafo2{
      display: flex;
      justify-content: center;
      border-bottom-left-radius: 0;
     
    }
    aside #conteudo-aside-titulo2{
        border-top-left-radius: 0;
    }

    #conteudo{
        padding-bottom: 30px;

    }
    aside #conteudo-aside-paragrafo1{
        display: flex;
        justify-content: center;
        border-bottom-right-radius: 0;

    }
    aside #conteudo-aside-titulo1{
        border-top-right-radius: 0;
    }
  

}




